<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/img/favicons/manifest.json">
  <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#111111">
  <link rel="shortcut icon" href="/img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#111111">
  <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#111111">
  </head>
  <body>
    <img class="logo" srcset="img/logo.png, img/logo@2x.png 2x" src="img/logo.png" alt="" width="100" height="100">
    <div class="card">
      <div class="build-info">
        <div>
          <span class="big dark">#{commit_message}</span>
          <span class="big light">##{sha}</span>
        </div>
        <div class="light">#{repo} : #{branch}</div>
      </div>
      <div class="files">
        <div class="labels desktop">
          <div class="light label path">PATH</div>
          <div class="light label threshold"></div>
          <div class="light label size">SIZE/THRESHOLD</div>
          <div class="light label master">MASTER</div>
        </div>
        each file in files
          <div class="file">
            <div class="path">#{file.path}</div>
            <div class="threshold">
              <div class="bar first" style="width: #{file.fillLength * 100 / file.length}%"></div>
              <div class="bar length" style="background-color: #{file.baseColor}"></div>
            </div>
            <div class="size light">#{file.prettySize}/#{file.prettyMaxSize}#{file.unit}</div>
            if file.diff
              <div class="master light"><span class="mobile">master</span> #{file.diff}</div>
          </div>
      </div>
    </div>
  </body>
</html>
